repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: stylua
        name: stylua
        entry: stylua
        language: system
        types: [lua]
        args: [--config-path, .stylua.toml]
